//created by: Walter Beller-Morales

@import 'reset';

$white: #E2E1E9;
$light-grey: #CCC9D1;
$grey: #A4ABBF;
$dark-grey: #5F6273;
$orange: #F54906;

$font-family:'Roboto Slab', serif;

*{
	box-sizing: border-box;
}
html, body{
  height:100%;
}
html {
	font-size: 100%;
}
body{
	background: $orange;
	font-family: $font-family;
	font-size: 0.8rem;
	line-height: 1.3;
}
h1{
	font-size: 4rem;
}
#section-container{
	background: $white;
	padding-bottom: 1px;

	display: none;
}
dl{
	text-align: center;
	color: $dark-grey;
	a{
		cursor: pointer;
	}
}
dt{
	font-size: 1.5rem;
	padding: 2% 0;
}
dd{
	text-align: left;
}
span{
	font-weight: 700;
}
.light,.tagline{
	font-weight: 300;
}


.brackets{
	font-weight: 400;
	position: relative;
	z-index: 1;

	a{
		transition: color 0.2s;
		padding: 0 0.5rem;
	}
	a:hover{
		color: $orange;
	}
	a::before,a::after{
		position: absolute;
		font-weight: 300;
		top: 0;
		opacity: 0;
		transition: opacity 0.2s, transform 0.2s;
	}
	a::before{
		left: -0.1em;
		content: '[';
		transform: translateX(-100%);
	}
	a::after{
		right: -0.1em;
		content: ']';
		transform: translateX(100%);
	}
	a:hover::before,a:hover::after{
		opacity: 1;
		transform: translateX(0);
	}
}
.brackets-on{

	@extend .brackets;

	a{
		color: $orange;
	}
	a::before,a::after{
		opacity: 1;
	}
	a::before,a::after{
		transform: translateX(0);
	}
	a:hover::before,a:hover::after{
		transform: none;
	}
}

#welcome,footer{
	color: $white;
}
#welcome{
	padding: 5% 0 6% 0;
	height: 30%;
	min-height: 8rem;
	text-align: center;
	h1,span{
		transition: color 0.5s ease;
		display: none;
	}
	span{
		margin: 4rem 0;
	}
	&:hover{
		h1,span{
			color: white;
		}
	}
}

.content{
	width: 80%;
	margin: 1.5rem auto;
	padding: 0.5rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	border: 1px solid $white;
	border-radius: 1rem;

	transition: all 0.5s ease;

	img{
		width: 10rem;
		height: 10rem;
		filter: grayscale(100%);
	}
	img.mouse{
		filter: none;
	}
	.text{
		width: 60%;
		.title{
			font-size: 1.2rem;
		}
		p{
			padding: 0.5rem 0 0.5rem 1rem;
		}
	}
	.dates{
		text-align: center;
		width: 10%;
	}
}

.content:hover{
	background: lighten($white,3%);
	border: 1px solid $orange;
	img{
		filter: none;
	}
}

.line{
	height: 3px;
	background-color: $light-grey;
}


#project-container{
	width: 81%;
	margin: 0 auto;
	display: flex;
	justify-content: center;

	padding: 0.5rem 0 2rem 0;

	img{
		width: 100%;
	}

	#project-nav-bar{
		width: 15%;
		float: left;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.project-link{
		position: relative;
		z-index: 2;
		margin: 0;
		margin-right: -11px;

		transition: background 0.5s ease;
		
		.project-title{
			position: relative;
			text-align: center;
			font-size: 1rem;
			padding-bottom: 0.5rem;
			margin: 0 1rem 0.5rem 0.5rem;

			border-bottom: 1px solid $white;
			border-left: 1px solid $white;
			border-bottom-left-radius: 1rem;

			transition: background 0.5s ease;

			a{
				text-decoration: none;
				color: $dark-grey;
				line-height: 0;
				transition: all 0.1s ease;


			}
		}

		.project-title-border{
			border-bottom: 1px solid $orange;
			border-left: 1px solid $orange;

			background: lighten($white,3%);
			a{
				color: $orange;
				text-decoration: underline
			}
		}

		.project-preview{
			padding: 0.5rem;
			margin: 0.5rem 1rem 0 0.5rem;

			border-top: 1px solid $white;
			border-left: 1px solid $white;
			border-top-left-radius: 1rem;

			transition: background 0.5s ease, filter 0.5s ease;

			img{
				filter: grayscale(100%);
				border-radius: 0.4rem;
			}

			&:after{
				content: "";
				position: absolute;
				z-index: -1;
	  			top: 0rem ;
	  			height: 100%;
	  			right: 0%;
	  			width: 1rem;
			}

		}

		.project-preview-border{
			border-top: 1px solid $orange;
			border-left: 1px solid $orange;
			

			background: lighten($white,3%);

			img{
				filter: none;
			}

			&:after{
				background: lighten($white,3%);

			}
		}
	}

	.project-link-border{
		background: $white;
		&:after{
			content: "";
	  		position: absolute;
	  		top: 0rem ;
	  		height: 0.5rem;
	  		right: 10px;
	  		width: 50%;
	  		background: $white;
	  		border-bottom: 1px solid $orange;
	  		border-right: 1px solid $orange;
	  		border-bottom-right-radius: 1rem;
  		}

  		&:before{
			content: "";
  			position: absolute;
  			bottom: 0rem;
  			height: 0.5rem;
  			right: 10px;
  			width: 50%;
  			background: $white;
			border-top: 1px solid $orange;
			border-right: 1px solid $orange;
			border-top-right-radius: 1rem;
  		}

	}
	
	.project-content{
		position: relative;
		z-index: 1;
		align-self: center;
		width: 85%;
		float: right;
		padding: 20px;
		border: 1px solid $white;
		border-radius: 1rem;

		background: $white;

		p{
			padding: 1rem 1rem 0 1rem;
			min-height: 4.5rem;
		}

		.img-roll{
			background: url(../img/projects/project-composite.png) 0 0 repeat-y;
			background-size: 100%;
			padding-bottom: 54.6%;
			filter: grayscale(100%);
			border-radius: 0.4rem;
			transition: all 0.5s ease;
		}

		transition: background 0.5s ease, filter 0.5s ease;

		&:hover{
			border: 1px solid $orange;
			background: lighten($white,3%);
			.img-roll{
				filter: none;
			}
		}
	}
	.project-content-border{
		border: 1px solid $orange;
		background: lighten($white,3%);
		.img-roll{
			filter: none;
		}
	}

}

footer{
	padding: 2% 0;
	height: 25%;
	text-align: center;

	display: none;

	a svg{
		display: block;
		margin: 0 auto;
		fill: $white;
		text-decoration: none;
		width: 3rem;
		height: 3rem;
		transition: fill 0.5s ease;
	}
	a svg:hover{
		fill: white;
	}
}

@media (max-width: 800px){
	.content{
		width: 90%;
		flex-direction: column;
		justify-content: center;

		img{
			display:none;
		}
		.text{
			width: 100%;
		}
		.dates{
			width: 100%;
		}
	}
	#project-container{

		#project-nav-bar{
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			.project-link{
				max-width: 20rem;
			}
			.project-link-border{
				&:after, &:before{
					display: none
				}
			}
			.project-title{
				border-right: 1px solid $white;
				border-bottom-right-radius: 1rem;
				a{
					text-decoration: underline;
				}
			}
			.project-title-border{
				border-right: 1px solid $orange;
			}
			.project-preview{
				border-right: 1px solid $white;
				border-top-right-radius: 1rem;
				
				&:after{
					display: none;
				}
			}
			.project-preview-border{
				border-right: 1px solid $orange;
			}
		}
		.project-content{
			display: none;
		}
	}

	footer a{
		display: inline-block;
	}
}
